.income-statement{
    width: 50%;
}

.income-statement-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    margin-top: 50px;
}